<h1>Detalhes do usuário</h1>
<div class="form-area">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div class="form-area">
      <label>Nome Completo</label>
<input type="nome" name="nome" placeholder="insira seu nome" [ngClass]="{'is-invalid': nome.touched && nome.invalid}">
    </div>

    <div class="form-area">
      <label>Email</label>
<input type="email" name="email" placeholder="insira seu email" >
    </div>

    <div class="form-area">
      <label>Adress</label>
<textarea name="adress" name="adress" cols="30" rows="10" placeholder="endereço" ></textarea>
    </div>
<button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>