<h1>Detalhes do usuário</h1>
<div class="form-area">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div class="form-area">
      <label>Nome Completo</label>
<input type="nome" name="nome" placeholder="insira seu nome" [(ngModel)]="nome">
    </div>

    <div class="form-area">
<input type="email" name="email" id="" placeholder="insira seu email" [(ngModel)]="email">
    </div>
    <div>
<textarea name="adress" name="adress" cols="30" rows="10" placeholder="endereço" [(ngModel)]="adress"></textarea>
    </div>
<button (click)="salvar()">Salvar</button>
  </form>
</div>